<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>EHT</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Hour Tracker</h1>

            <p>Login or Register:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>

            
            
            
                <div class="box">
                    <h1>Hour Tracker<h1> -->

                            <!-- <input type="email" name="email" value="email" onFocus="field_focus(this, 'email');"
                                onblur="field_blur(this, 'email');" class="email" />

                            <input type="password" name="email" value="email" onFocus="field_focus(this, 'email');"
                                onblur="field_blur(this, 'email');" class="email" /> -->

                            <!-- <a href="/login">
                                <div class="btn">Sign In</div> -->
                            <!-- </a> End Btn -->

                            <!-- <a href="signup">
                                <div id="btn2">Sign Up</div> -->
                            <!-- </a> End Btn2 -->

                 <!-- End Box -->

            <!-- </form> -->

            <!-- <p>Forgot your password? <u style="color:#f1c40f;">Click Here!</u></p> -->
        </div>
    </div>
</body>

</html>