<!-- views/profile.ejs -->

<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

				<p>
					<strong>id</strong>: {{user.id}} <br>
					<strong>username</strong>: {{user.username}}<br>
					<strong>password</strong>: {{user.password}}<br>
				</p>

			</div>
		</div>

	</div>

	<div class="row">

		<!-- User Control Panel -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Control Panel</h3>

				<form id="choiceForm" method="POST" action="/submit-form">
					<input id="0" type="radio" name="selectedAction" value="logNewProject" checked>
					<label for="0">Log hours to a new project</label>
					<br>
					<input id="1" type="radio" name="selectedAction" value="logExistingProject">
					<label for="1">Update hours on an existing project</label>
					<br>
					<button id="submitButton">Submit</button>

				</form>

			</div>
		</div>

	</div>
</div>

<div class="container">


	<!-- Modal -->
	<div class="modal" id="myNewModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"></button>
					<h4 class="modal-title">Log Initial Project Hours</h4>
				</div>
				<div class="modal-body">
					<form action="/api/form-data" method="POST">
						<div class="form-group">
							<label>Project Name</label>
							<input type="" class="form-control" id="projectName" name="projectName"
								placeholder="Enter Project Name">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Hours Worked</label>
							<input class="form-control" id="hoursWorked" name="hoursWorked" placeholder="Hours Worked">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

</div>



<div class="container">
	<div id="myExistingModal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="btn-group">
					<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
						data-display="static" aria-haspopup="true" aria-expanded="false">
						--Select Project--
					</button>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
						<button class="dropdown-item" type="button">Project A</button>
						<button class="dropdown-item" type="button">Project B</button>
						<button class="dropdown-item" type="button">Project C</button>
						<button class="dropdown-item" type="button">Project D</button>
					</div>
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1">Hours Worked</label>
					<input class="form-control" id="hoursWorked" name="hoursWorked" placeholder="Hours Worked">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>
<svg class="pie-chart"></svg>


</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="js/script.js"></script>